.g_hide {
    display: none;
}

.g_tac {
    text-align: center;
}

.g_tar {
    text-align: right;
}

.g_clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    line-height: 0;
}

.g_clearfix {
    zoom: 1;
}

.g_ellipsis {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.g_fl {
    float: left;
}

.g_fr {
    float: right;
}

.g_f12{ font-size: 12px;}
.g_f14{ font-size: 14px;}
.g_f16{ font-size: 16px;}
.g_f18{ font-size: 18px;}
.g_f20{ font-size: 20px;}
.g_f22{ font-size: 22px;}
.g_f24{ font-size: 24px;}

.g_mt10{ margin-top:10px;}
.g_mt20{ margin-top:20px;}
.g_mt30{ margin-top:30px;}
.g_mt40{ margin-top:40px;}
.g_mt50{ margin-top:50px;}

.g_mb10{ margin-bottom:10px;}
.g_mb20{ margin-bottom:20px;}
.g_mb30{ margin-bottom:30px;}
.g_mb40{ margin-bottom:40px;}
.g_mb50{ margin-bottom:50px;}

.g_pt10{ padding-top:10px;}
.g_pt20{ padding-top:20px;}
.g_pt30{ padding-top:30px;}
.g_pt40{ padding-top:40px;}
.g_pt50{ padding-top:50px;}

.g_pb10{ padding-bottom:10px;}
.g_pb20{ padding-bottom:20px;}
.g_pb30{ padding-bottom:30px;}
.g_pb40{ padding-bottom:40px;}
.g_pb50{ padding-bottom:50px;}

.g_box{
    display:-moz-flex;display:-ms-flex;display:flex;
    display:-webkit-box;display:-moz-box;display:-ms-box; display:-webkit-flex;
}
.g_boxH{
    -webkit-flex-direction:row; -moz-flex-direction:row;-ms-flex-direction:row; flex-direction:row;
    -webkit-box-orient:horizontal;-moz-box-orient:horizontal;-ms-box-orient:horizontal;
}
.g_boxV{
    -webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column; flex-direction:column;
    -webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;
}

.g_flex1{
    -webkit-flex:1;-moz-flex:1;-ms-flex:1; 
    -webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;
}
.g_flex2{
    -webkit-flex:2;-moz-flex:2;-ms-flex:2;
    -webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;
}
.g_flex3{
    -webkit-flex:3;-moz-flex:3;-ms-flex:3;
    -webkit-box-flex:3;-moz-box-flex:3;-ms-box-flex:3;
}
.g_flex4{
    -webkit-flex:4;-moz-flex:4;-ms-flex:4;
    -webkit-box-flex:4;-moz-box-flex:4;-ms-box-flex:4;
}
.g_flex5{
    -webkit-flex:5;-moz-flex:5;-ms-flex:5;
    -webkit-box-flex:5;-moz-box-flex:5;-ms-box-flex:5;
}


.g_red{
  color: #c90909;
}
.g_green{
    color:#019a37;
}
.g_blue{
    color:#00205c;
}
.g_gray{
    color:#c2c2c2;
}
.g_darkgray{
    color:#666;
}
.g_golden{

}

.g_agreement{ overflow: scroll; text-align: left; font-family: "微软雅黑",'Microsoft Yahei','幼圆','YouYuan SimYou?',SimSun,'宋体',Helvetica,Arial,sans-serif;}
.g_agreement p {  padding-bottom: 25px; color: #666; line-height: 25px;}
.g_agreement p strong{ color: #000;}