/*
@media only screen and (max-width: 320px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
    html {
        font-size: 18.75px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 384px) {
    html {
        font-size: 19px;
    }
}

@media only screen and (min-width: 385px) and (max-width: 413px) {
    html {
        font-size: 19px;
    }
}

@media only screen and (min-width: 414px) and (max-width: 480px) {
    html {
        font-size: 20.7px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 540px) {
    html {
        font-size: 27px;
    }
}
*/