<div class="module_tip">
    <% if (!type) { %>

    <% } else { %>
        <div class="tip_top">
            <em class="tip_icon tip_icon_<%- type %>"></em>
        </div>
    <% } %>
    <div class="tip_content"><%= html %></div>
</div>