<div class="module_title">
    <% if (isHideReturn === false) { %>
    <a href="javascript:void(0);" id="return" class="return js_return tap" data-action="return"></a>
    <% } %>
    <span class="text"><%= text %></span>
</div>